body{
    background-image: url("http://i.imgur.com/IJSEt17.jpg");
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    text-align: center;
    font: 2em "Open Sans", sans-serif;
    font-size: 150px;
    color: #315162;
    }
h3{
    position: relative;
    color: #D8D8D8;
    text-align: center;
    font: 2em "Open Sans", sans-serif;
}
.about{
    color: #677277;
    text-align: center;
    text-decoration:none;
    font-size: 25px;
}
