<!doctype html>
<html>
<head>

    <head>
    <link type="text/css" rel="stylesheet"
    	href="{{ url_for('static', filename='about_style.css') }}" />
    </head>

    </style>
</head>
<body>
    	<h1>We are TeaMawa</h1>

            <div class = "Container">
                <div class = "Image">
                    <img class = "Image" src="http://i.imgur.com/yPwoEub.png"/>
                    <div class = "name">Neil Mula</div>
                </div>
                <div class = "Image">
                    <img class = "Image" src="http://i.imgur.com/ftQ4ZIT.png" >
                    <div class = "name">Noreen Ras</div>
                </div>
                <div class = "Image">
                    <img class = "Image" src="http://kawaiicase.com/blog/wp-content/uploads/2011/12/chinese-cat1.jpg" >
                    <div class = "name">Kevin Ma</div>
                </div>
                <div class = "Image">
                    <img class = "Image" src="http://i.imgur.com/OhjdBvV.jpg" >
                    <div class = "name">Mark Baulo</div>
                </div>
            </div>
        <footer>
            <a href="http://127.0.0.1:5000">HOME</a>
        </footer>


</body>
</html>
