<!doctype html>
<html>
<head>
<link type="text/css" rel="stylesheet"
	href="{{ url_for('static', filename='style.css') }}" />
</head>
<body >
    <h1> TeaMawa</h1>
	<h3> Simple. Innovative. Magical IT solutions.<h3>
	<div class="about">
		<a class = "about" href="http://127.0.0.1:5000/about">About Us</a>
	</div>
</body>
</html>
